.button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border: 1px solid rgb(86, 94, 214);
  background-color: rgb(77, 20, 233);
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: 200px;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}
